body{
    background-color: #2C2e2e;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding:20px;
    width: 100%;
}

.Logo{    
    height: 100px;   
    width: auto;  
}

.nav-wrapper {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

.NavBackground {
    height: 100px;
    width: 1500px;
    position: absolute;
    top: 0;
    left:30px;
    z-index: 1;       
}

.navbar {
    position: relative;
    z-index: 2;          
    display: flex;
    gap: 129px;
    padding: 0 30px;
}

.navbar a {
    text-decoration: none;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
}


