body{
    background-color: #2C2e2e;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding:20px;
    width: 100%;
}

.Logo{    
    height: 100px;   
    width: auto;  
}

.nav-wrapper {
    position: relative;
    height: 110px;
    display: flex;
    align-items: center;
}

.NavBackground {
    background-size: cover;
    background-position: center;
    height: 110px;
    width: auto;
    position: absolute;
    top: 0;
    left:30px;
    z-index: 1;       
}

.navbar {
    position: relative;
    z-index: 2;          
    display: flex;
    gap: 130px;
    padding: 0 360px;
}

.navbar a {
    text-decoration: none;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.navbar a:hover{
    transform: scale(1.15);
}

.Background{
    position: fixed;
    bottom: -25%;           
    left: 0;             
    width: 100%;        
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    z-index: -1;   
}

.Intro{
    margin: 10px auto;
    align-items:center;
    width:90%;
    gap:30px;
    display:flex;
}

img{
    width:160px;
    height:auto;
    border-radius: 10px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.Bar{
    width:100%;
    height:20px;
    background-color: #058ED9;
}

.Bar2{
    width:100%;
    height:10px;
    background-color: #246EB9;
}

.HomeData{
    padding:30px;
    width:90%;
    display:flex;
    justify-content: center;  
    gap: 50px;
}

.HomeData img{
    padding-left:40px;
    height:480px;
    width:auto;
    border-radius: 0px;
}

.Clickable{
    cursor:pointer;
}

.Developments{
    height: 480px;     
    width: 800px;
    background-color:#63D0C3;
    border-radius:10px;
    display:flex;
    flex-direction: column;   
    align-items: left;      
    gap: 20px; 
}

.Developments h1{
    padding-left:15px;
    text-decoration:underline;
    color:#2C2E2E
}

.Latest{
    width:80%;
    height:fit-content;
    background-color: #2C2e2e;
    border-radius:10px;
    margin-left:20px;
    padding-left:20px;
    padding-right:10px;
}

h2{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

.Personal{
    margin-left:100px;
    width:45%;
}

.Personal h1{
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.Personal h3{
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: white;
}

.me1{
    position:absolute;
    top: 225px;
    left: 950px;
    height:400px;
    width:auto;
}

.me2{
    position:absolute;
    top: 380px;
    left: 1375px;
    height:170px;
    width:auto;
    z-index:2;
}

.me3{
    position:absolute;
    top: 510px;
    left: 1260px;
    height:250px;
    width:auto;
    z-index:1;
}

.me4{
    position:absolute;
    top: 700px;
    left: 1130px;
    width: 180px;
    height: 220px;
    overflow: hidden;
}

.Grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    width:80%;
    gap:80px;
    margin:40px auto;
}

.Games{
    background-color: #058ED9;
    border-radius:10px;
    height:300px;
    border-color: #246EB9;
    border-style: solid;
    border-width: 3px;
}

.Games h1{
    text-decoration: underline;
    font-size:36px;
    font-weight:500
}

.Games img{
    padding-top:30px;
    border-radius:0%;
    height:150px;
    width:auto;
}

.Railed, .Pac, .Field, .Procedural{
    display:flex;
    justify-content: space-between;
    gap:30px;
    padding-left:30px;
    padding-right:30px;
}

.Games:has(.Railed) {
    background-color: #FF0035;
    border-width: 0px;
}

.Games:has(.Pac) {
    background-color: #058ED9;
    border-color: #246EB9;
    border-style: solid;
}

.Games:has(.Field) {
    background-color: #2C2E2E;
    border-color: #246EB9;
    border-style: solid;
}

.Games:has(.Procedural) {
    background-color: #63D0C3;
    border-width: 0px;
}

.Games:has(.Procedural) h1, .Games:has(.Procedural) p {
    color:#2C2E2E;
}

.Heading{
    font-size:56px;
    font-weight:1000px;
    text-align:center;
    margin:0;
}

.Linkedin{
    color:#246EB9;
    font-size:36px;
    font-weight: bold;
}

.Contacting h2, .Contacting h3{
    margin: 0; 
}

.Contacting{
    margin:10 40px;
}

.Contacting a{
    text-decoration: none;
    width:fit-content;
}

.Contacting h3{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.myForm{
    background-color: #058ED9;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
}

.Contacting p{
    font-size: 20px;
    padding-left:10px;
    font-family: "Inter", sans-serif;
    font-weight: 800px;
    margin-top:10px;
}

input[type="text"] {
    width: 60%;
    height:30px;
    font-size: 20px;
    border-radius: 0px;
    border-width:0px;
    background-color:#246EB9;
}

input[type="email"] {
    width: 60%;
    height:30px;
    font-size: 20px;
    border-radius: 0px;
    border-width:0px;
    background-color:#246EB9;
}

select{
    background-color: #246EB9;
    color: #fff;
    width: 60%;
    height:30px;
    font-family: inherit;
    font-size: 20px;
    border-radius: 0px;
    border-width:0px;
}

option{
    font-size: 20px;
    height:30px;
    font-family: "Inter", sans-serif;
    border-radius: 0px;
    border-width:0px;
}

textarea {
    background-color: #246EB9;
    color: #fff;
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    border-radius: 0px;
    border-width:0px;
}

.submitButton{
    text-align: center;
}

button {
    background-color: #246EB9;
    color: #fff;
    padding: 10px 60px ;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #63D0C3;
}

body{
    background-color: #2C2e2e;
}

html, body {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;  
        align-items: flex-start;
        padding:10px;
        padding-bottom:10px;
    }

    .Logo{
        order: 2;    
        height:40px;  
        padding:10px;
        padding-bottom:0px;
        align-self: center;
    }

    .nav-wrapper{
        height:60px;
        flex-direction: column;
        align-self:center;
    }

    .NavBackground{
        height:60px;
        left:0px;
    }

    .navbar {
        gap: 72px;
        padding:15 50px;;
        justify-content: center;
        width: 100%;
    }

    .navbar a {
        font-size: 18px;
    }

    .Background{
        bottom:-10%;
    }

    .Intro{
        margin: 0px auto; 
        gap:20px;
        width:100%;
    }

    img{
        width:100px;
    }

    h1 {
        font-size: 14px;
    }

    .Bar{
        height:10px;
    }

    .Bar2{
        height:5px;
    }

    .HomeData{
        padding:20px;
        padding-left:0px;
        width:100%;
        gap:20px;
    }

    .HomeData img{
        padding-left:0px;
        height:300px;
        width:auto;
    }

    .Developments{
        height:300px;
        width:250px;
    }

    .Developments h1{
        padding-left:10px;
    }

    .Latest{
        padding-left: 10px;
        margin-left: 10px;
    }

    h2{
        font-size:12px;
    }

    p{
        font-size: 10px;
    }

    .Personal{
        margin-left:15px;
        width:55%;
    }

    .Personal h1{
        font-size: 22px;
    }

    .Personal h3{
        font-size: 14px;
    }

    .me1{
        top:200px;
        left:350px;
        height:160px;
    }

    .me2{
        top:150px;
        left:490px;
        height:100px;
    }

    .me3{
        top:320px;
        left:450px;
        height:130px;
        z-index:1;
    }

    .me4{
        top:420px;
        left:390px;
        width:90px;
        height:110px;
    }

    .Grid{
        gap:20px;
        margin:10px auto;
        width:95%;
    }

    .Games{
        height:180px;
        width:auto;
        border-width:2px;
    }

    .Games h1{
        text-decoration: underline;
        font-size:16px;
        font-weight:500;
    }

    .Games p{
        font-size: 8px;
    }

    .Games img{
        padding-top:40px;
        border-radius:0%;
        height:85px;
        width:auto;
    }

    .Railed, .Pac, .Field, .Procedural{
        display:flex;
        justify-content: space-between;
        gap:20px;
        padding-left:10px;
        padding-right:15px;
    }

    .Heading{
        font-size: 32px;
    }

    .Linkedin{
        font-size:24px;
    }

    .Contacting{
        margin:0 15px;
    }

    .Contacting h3{
        font-size: 16px;
    }

    .myForm{
        padding: 10px;
        width: 95%;
        margin: 10px auto;
    }

    .Contacting p {
        font-size: 14px;
        padding-left:10px;
        font-weight: 800px;
    }

    input[type="text"] {
        height:20px;
        font-size: 14px;
    }

    input[type="email"] {
        height:20px;
        font-size: 14px;
    }

    select{
        height:20px;
        font-size: 14px;
    }

    option{
        font-size: 14px;
        height:20px;
    }

    button {
        padding: 8px 40px ;
        font-size: 14px;
    }
}


