body{
    background-color: #2C2e2e;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding:20px;
    width: 100%;
}

.Logo{    
    height: 100px;   
    width: auto;  
}

.nav-wrapper {
    position: relative;
    height: 110px;
    display: flex;
    align-items: center;
}

.NavBackground {
    background-size: cover;
    background-position: center;
    height: 110px;
    width: auto;
    position: absolute;
    top: 0;
    left:30px;
    z-index: 1;       
}

.navbar {
    position: relative;
    z-index: 2;          
    display: flex;
    gap: 130px;
    padding: 0 360px;
}

.navbar a {
    text-decoration: none;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.navbar a:hover{
    transform: scale(1.15);
}

.Background{
    position: fixed;
    bottom: -25%;           
    left: 0;             
    width: 100%;        
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    z-index: -1;   
}

.Intro{
    margin: 10px auto;
    align-items:center;
    width:90%;
    gap:30px;
    display:flex;
}

img{
    width:160px;
    height:auto;
    border-radius: 10px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.Bar{
    width:100%;
    height:20px;
    background-color: #058ED9;
}

.Bar2{
    width:100%;
    height:10px;
    background-color: #246EB9;
}

.Clickable{
    border-radius: 0px;
    cursor:pointer;
}

body{
    background-color: #2C2e2e;
}

html, body {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;  
        align-items: flex-start;
        padding:10px;
        padding-bottom:10px;
    }

    .Logo{
        order: 2;    
        height:40px;  
        padding:10px;
        padding-bottom:0px;
        align-self: center;
    }

    .nav-wrapper{
        height:60px;
        flex-direction: column;
        align-self:center;
    }

    .NavBackground{
        height:60px;
        left:0px;
    }

    .navbar {
        gap: 72px;
        padding:15 50px;;
        justify-content: center;
        width: 100%;
    }

    .navbar a {
        font-size: 18px;
    }

    .Background{
        bottom:-10%;
    }

    .Intro{
        margin: 0px auto; 
        gap:20px;
        width:100%;
    }

    img{
        width:100px;
    }

    h1 {
        font-size: 14px;
    }

    .Bar{
        height:10px;
    }

    .Bar2{
        height:5px;
    }
}


