body{
    background-color: #2C2e2e;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding:20px;
    width: 100%;
}

.Logo{    
    height: 100px;   
    width: auto;  
}

nav {
    display: flex;
    gap: 30px;         
}

nav a {
    text-decoration: none;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 10px 25px;
    color: white;

    border-radius: 30px;
}

ul {
    display: flex;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
}

ul li {
    float: left;
    padding-right: 20px;
    margin-left: 0px;
}



